<%= form_with model: prototype, local: true, data: { tubo: false } do |f|%>
  <% if prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>
      <ul>
        <% prototype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "プロトタイプの名称" %><br />
    <%= f.text_field :title, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
    <% if !prototype.errors.any? && @prototype.image.attached? %>
      <%= image_tag url_for(@prototype.image), alt: 'Prototype Image' %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>